@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

@layer base{
  @font-face {
    font-family: "Poppins";
    src: url("../public/fonts/Poppins-Regular.ttf");
  }
  @font-face {
    font-family: "Roboto";
    src: url("../public/fonts/Roboto-Regular.ttf");
  }
}

@layer utilities{

.heading {
  @apply text-3xl md:text-4xl lg:text-5xl font-bold leading-tight ;
}

.medium-text {
  @apply text-lg md:text-2xl lg:text-3xl font-semibold leading-relaxed ;
}

.paragraph {
  @apply text-base md:text-lg lg:text-xl leading-5 ;
}

.section {
  @apply py-8 md:py-12 lg:py-16 ;
}

.container {
  @apply max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8;
}
/* Hide default radio button */
input[type="radio"] {
  appearance: none; 
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px; 
  height: 20px;
  border: 2px solid #666;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}

/* Custom checked state */
input[type="radio"]:checked {
  border-color: #746CF6; /* Change border color */
}

/* Create the dot */
input[type="radio"]:checked::before {
  content: "";
  width: 12px; 
  height: 12px;
  background: #746CF6; /* Change dot color */
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

}